// 代码快样式
.language-javascript::before
.language-js::before
.language-html::before
.language-typescript::before
.language-vue::before {
  color: #ddd !important;
}
.language-javascript
.language-js
.language-html
.language-typescript
.language-vue {
  background-color: #615093 !important;
}
.token.keyword {
  color: #ccb4ed;
}
.token.function {
  color: #81b9ed;
}
.token.punctuation {
  color: #c7ddd4;
}
.token.operator {
  color: #eee;
}
.token.string,
.token.regex,
.token.attr-value {
  color: #afe17c;
}
.token.class-name {
  color: #fff;
}
.token.comment {
  color: #ddd;
}
.token.number {
  color: #33cccc;
}
.token.boolean,
.token.attr-name {
  color: #ff6633;
}
.token.parameter {
  color: #beaaa1;
}
.token.tag {
  color: #99cccc;
}
.token.selector {
  color: #a50642;
}
.token.property {
  color: #f2deb3;
}
.token.atrule {
  color: #e4cee5;
}


// ----------------------------
.getting-started .outbound,
.nav-links .outbound {
  display: none !important;
}

.getting-started a img {
  margin-right: 8px !important;
}

.getting-started a img.no-margin {
  margin-right: 0px !important;
}

//global
p code {
  // color: #e96900!important;
  // background-color: #f8f8f8!important;
  // margin: 0 2px!important;
  // padding: 0.25rem 0.4rem!important;
}

.home .hero .action-button {
  background-color: rgb(98, 34, 158)!important;
}

.navbar,.links {
  background: rgb(95, 74, 134)!important;
}

.site-name {
  color: #fff!important;
}


.page .theme-default-content:not(.custom) {
  max-width: 85%;
}

.page p img {
    /* 图片居中 */
    margin: 0 auto;
    display: flex;
}

.page p a img {
    margin: 0;
    display: inline-block;
}

.page .page-nav .inner .prev a,.page .page-nav .inner .next a {
  font-weight: 500;
  color: rgb(98, 34, 158);
  text-decoration: none;
}

.page p a {
  color: rgb(98, 34, 158);
}

blockquote {
  font-size: 15px !important;
  color: #858585 !important;
  border-left: 0.25rem solid rgb(98, 34, 158) !important;
  font-weight: 1000 !important;
}

blockquote p a {
  color: rgb(115, 65, 161);
  padding-right: 5px;
}

h1 a,h2 a,h3 a {
  color: rgb(115, 65, 161);
  text-decoration: none !important;
}

.search-box input:focus {
  border-color:rgb(115, 65, 161) !important;
}

.icon {
  color: #bbb !important;
}

.nav-links a.router-link-active {
  color: #bbb !important;
  border-color: #bbb !important;
}
.nav-links a:hover {
  color: #bbb !important;
  border-color: #bbb !important;
}
.nav-links {
  color: #bbb !important;
}

// 返回顶部
.go-to-top[data-v-4ead8f6c] {
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
  width: 2rem;
  color: rgb(115, 65, 161);
  z-index: 1;
}
.go-to-top[data-v-4ead8f6c]:hover {
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
  width: 2rem;
  color: rgb(155, 91, 214);
  z-index: 1;
}

// 侧边栏

a.sidebar-link.active {
    color: rgb(155, 91, 214) !important;
    border-left-color: rgb(98, 34, 158) !important;
}
a.sidebar-link:hover {
    color: rgb(155, 91, 214) !important;
}